img{
    width: 8pt;
    height: 8pt;
    margin: 1pt;


}

.nome{
    font-size: 10pt;
    color:black;
    left: -20px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

