.tweet{
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: 30px 1fr 50px;
    width: 80vw;
    border-radius: 5px;
    border: 5px solid aliceblue;
    background-color: white;
}

.tweet:hover{
    background-color: #f4f8fb;
}



