.tweet{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50px 1fr 50px;
    box-sizing: border-box;
    width: 80vw;
    height: 200px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 3px solid aliceblue;
}

.tweet .img{
    display:flex;
    flex-direction: row;
}

.tweet:hover{
    background-color: #f4f8fb;
}