.tweet{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 50px 1fr 50px;
    width: 80vw;
    border-radius: 5px;
    border: 5px solid aliceblue;
    background-color: white;
}

.tweet:hover{
    background-color: #f4f8fb;
}



.conteudo{
    font-size: 12px;
    grid-column: 2 / 3;
}

